
@{
    ViewData["Title"] = "View";
}
<body>
    <font color="red">MVS YAŞAM DÖNGÜSÜ</font>
    <h1> </h1>
    <font color="red">-------------------</font>
    <h5>HTTP Request</h5>
    <h5>Routing</h5>
    <h5>Controller</h5>
    <h5>ViewResult</h5>
    <h5>ViewEngine </h5>
    <h5>View</h5>
    <h5>Response</h5>
    <a href="https://miro.medium.com/max/628/1*Rvnl3RndlAgUmBaEwtZ_VA.png">Life Cycle Görmek İçin Tıkla :)</a>
    <h1> </h1>
    <button onclick="window.location.href='http://www.mozilla.org/'">Mozilla Anasayfa</button>
    <style>
        .btn {
            display: inline-block;
            padding: 4px 8px;
            border: 1px #706f6f solid;
            border-radius: 4px;
            cursor: default;
        }

            .btn:hover {
                background-color: #cfcfcf;
            }
    </style>
    <span class="btn" onclick="butonfonksiyonu()">DENEME</span>

    <script>
        function butonfonksiyonu() {
            alert("DERS SEÇİMİN TAMAMLANDI");
        }
    </script>
</body>
